{% include header.html %}
<main>

	<h1 class="text-center gotham-rounded-bok heading hw-font-heading"> Blog </h1>
	<!-- carousel-->

   		<div class="carousel-padding"> 
		   	<div class="line"></div>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

		   		<div class="container heading-caro-padd">
				    <!-- Wrapper for slides -->
				    <div class="carousel-inner" role="listbox">
				    	<h2 class="gotham-rounded-light hw-heading h2-color text-center hw-line-height">{{site.data.blog-carousel.content}}</h2> 
				    </div>
				</div>
			</div>
	 	</div>

  <section class="banner">
		<!-- <div class="casestudy-img">
			<div class="banner-inner">
				<h1 class="clr-white">Blog</h1>
			</div>
		</div> -->
	</section>
	<div class="blog-margin">
	<ul class="blog-grid-new clearfix blog-main">

		<li class="intro-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2 class="tagline gotham-rounded-bold margin-zero hw-font-heading1">Sharing experience, Opinions & Thoughts</h2>
			<h3 class="subtitle gotham-rounded-light ">Read our Chronicles</h3>
			<p class="gotham-rounded-light blog-para-first">We take our work seriously. We express our thoughts and share our passion. We also have fun at work.
Come share our thinking; know more about our team and the work we do…</p>

			<div class="row filters cs-li-margin">
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 cats">
					<form class="blog-cat-form" action="" method="get">
						<select name="cat" id="cat" class="postform gotham-rounded-bok" multiple>
							<option data-value="DataOps" class="level-0" value="1" class="case-studies-label-text">DataOps</option>
							<option data-value="Devops" class="level-0" value="2" class="case-studies-label-text">DevOps</option>
							<option data-value="Data Science" class="level-0" value="3" class="case-studies-label-text">DataScience</option>
							<option data-value="UX/UI" class="level-0" value="4" class="case-studies-label-text">UXUI</option>
							<option data-value="Mobility" class="level-0" value="5" class="case-studies-label-text">Mobility</option>
						</select>
					</form>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 cats">

					<form class="blog-author-form">
						<div class="styled-select">
							<select name="author" id="author" class="gotham-rounded-bok" multiple>
								<option data-value="GK" value="1" class="case-studies-label-text">GK</option>
								<option data-value="Mohit" value="2" class="case-studies-label-text">Mohit</option>
								<option data-value="Rajesh" value="3" class="case-studies-label-text">Rajesh</option>
								<option data-value="Shilpa" value="4" class="case-studies-label-text">Shilpa</option>
								<option data-value="Stanely" value="5" class="case-studies-label-text">Stanely</option>
							</select>
						</div>											
					</form>
				</div>
			</div>
		</li>
        </ul>
		<!-- for 2nd li we used different color, so we hide this li -->
		<!-- <li class="hide"></li> -->

		<!-- We need to add the option value attr name in li for filter -->
		<ul class="blog-grid clearfix blog-main">

	{% for post in site.posts | sort: 'date'   %}
	
		<li class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-xxs-12 hw-filter-li Social blog-content {{ post.class}} {{ post.category}} {{ post.author}}">
			<div class="image-wrapper">
				<img width="" height="" alt="" src="{{post.landing_image}}">
				<div class="blog-post-meta">
					<a href="{{ post.url }}" class="button" target="_blank">View Article</a>
				</div>
			</div>
 
			<div class="blog-content-wrapper">
				<h4><span class="month gotham-rounded-bok">{{ post.published-date }}</span>  <span class="categories-list gotham-rounded-bok"><a rel="category tag" href="{{ post.url }}"  target="_blank">{{ post.category}}</a></span></h4>
				<h3><a href="{{ post.url }}" class="gotham-rounded-light hw-para"   target="_blank">{{post.top-tweets}}</a></h3>
				<p>
				<img class="nav-bp-author" alt="" src="{{post.author_image}}">
				<a rel="category tag" class="categories-list gotham-rounded-light" href="{{ post.url }}"  target="_blank">{{ post.author}}</a>
				<span style="float:right;"><span class="nov-blog-like-icon fa fa-heart-o"></span>
				<span class="gotham-rounded-bok month">{{post.like_no}}</span></span>
				</p>
			</div>
		</li>
	{% endfor %}


	</ul>
	</div>


</main>
{% include ribbon-footer.html %}
{% include footer.html %}
{% include html-footer.html %}