

{% include header.html %}
<div id="cw-responsive">
   <main>
      <h1 class="text-center gotham-rounded-bok heading hw-font-heading collabrative-header">Collaborative Workforce</h1>
      <div class="carousel-padding">
         <div class="line"></div>
         <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="container heading-caro-padd">
               <!-- Wrapper for slides -->
               <div class="carousel-inner container" role="listbox">
                  <h2 class="gotham-rounded-light hw-heading h2-color text-center hw-line-height">{{site.data.Talent_Acquisition.carousel.content}}</h2>
               </div>
            </div>
         </div>
      </div>
      <!-- end of carousel-->
      
      <div class="bs-example line-padding collo-talent1">
         <div class="container ot-tab-container ot-tab-container-top cw-tab-container-top">
            <ul class="nav nav-tabs p-flex talent">
               <div class="carousel-div">
                  <li class="active c-flex c-flex-1 tab-val pvh-active cw-tab-val" id="tab-1">
                     <a class="hw-te-tab hr-display c-flex-anchor"  data-toggle="tab" href="#employer" >
                        <ul class="tab-img">
                           <li  class="li-tab-mar"><img src="/assets/img/collaborative-works/employee.svg"></li>
                           <li class="gotham-rounded-light  ">
                              <p class="text-center hw-heading hr-display">Employer</p>
                           </li>
                        </ul>
                     </a>
                  </li>
                  <li class="c-flex c-flex-1 tab-val cw-tab-val" id="tab-2">
                     <a  class="hw-te-tab hr-display c-flex-anchor" data-toggle="tab" href="#patner" >
                        <ul class="tab-img">
                           <li class="li-tab-mar"><img src="/assets/img/talent_acquisition/Partner.svg"></li>
                           <li class="gotham-rounded-light">
                              <p class="text-center hw-heading  hr-display">Partner</p>
                           </li>
                        </ul>
                     </a>
                  </li>
                  <li class="c-flex c-flex-1 tab-val cw-tab-val" id="tab-3">
                     <a  class="hw-te-tab hr-display c-flex-anchor" data-toggle="tab" href="#job-seeker" >
                        <ul class="tab-img" >
                           <li class="li-tab-mar"><img src="/assets/img/collaborative-works/jobseeker.svg"></li>
                           <li class="gotham-rounded-light ">
                              <p class="text-center hw-heading  hr-display">Job Seeker</p>
                           </li>
                        </ul>
                     </a>
                  </li>
               </div>
            </ul>
         </div>
         <!--end of contaier-fuild of tab heading-->
         <div class="tab-content">
            <div id="tabContent-1" class="tab-pane fade in active">
               <div class="container ot-tab-container">
                  <div class="hw-engage-cont">
                     <h2 class="hw-heading gotham-rounded-bok h2-color">Employer</h2>
                     {% for para in site.data.Talent_Acquisition.talent.Employer %}
                     <p class="hw-copyright gotham-rounded-light collaborative-employee-para">{{ para.employee }}</p>
                     <br>
                     {% endfor %}
                     <p class="hw-copyright gotham-rounded-light h2-color collaborative-employee-para"><span class="gotham-rounded-bold hw-tab-heading clr-black"><img src="/assets/img/talent_acquisition/left.svg" class="right-workforce"></span> To meet the demands of digital business transformation, VM leaders must provide alternatives to conventional VM process. This means reducing cycle times and allowing exceptions to long standing practices that may have hindered creativity or stalled vendor delivery of innovation.</p>
                     <br>
                     <p class="hw-copyright gotham-rounded-light h2-color collaborative-employee-para">Digital business demands greater dexterity in creating value from technology.Bimodal IT is a tool vital to addressing that challenge. Using it, IT adopts two distinct ways to meet enterprise demand - being agile and flexible, and having a step-by-step approach that ensures efficiency and predictability. Bimodal IT fills the digital divide between what IT provides and what IT really needs. Harnessing this same methodology for IT VM practices enables business stakeholders to (1) attain the innovation and agility they need from vendors, and (2) leverage best practices in VM adopted to fast-track" key business initiatives.<span class="gotham-rounded-bold hw-tab-heading clr-black"><img src="/assets/img/talent_acquisition/right.svg" class="right-workforce"></span></p>
                     <h2 class="gotham-rounded-bok hw-heading collaborative-apply-heading">Applying Bimodal IT to VM <span class="hw-copyright gotham-rounded-light">(Source: Gartner)</span></h2>
                     <h2 class="gotham-rounded-bok hw-heading collaborative-apply-heading collaborative-apply-heading-1">Applying Bimodal IT to VM</h2>
                     <h2 class="gotham-rounded-bok hw-heading hw-copyright gotham-rounded-light collaborative-apply-heading collaborative-apply-heading-1">(Source: Gartner)</h2>
                     <table class="table" >
                        <thead>
                           <tr >
                              <th class="gotham-rounded-bold hw-para"></th>
                              <th class="gotham-rounded-bold hw-para collaborative-conventional">Conventional</th>
                              <th class="gotham-rounded-bold hw-para collaborative-conventional">Agile</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Goal</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Reliability</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Agility</td>
                           </tr>
                           <tr>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Value </td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Cost/risk reduction, price for performance</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Revenue, brand, external customer
                                 experience
                              </td>
                           </tr>
                           <tr >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Approach </td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Sequential, workflow-based approvals, policy</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Fluid, flexible, guardrails, not policy</td>
                           </tr>
                           <tr  >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Governance</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Controlled, policy-based</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Coordinated, based on guardrails</td>
                           </tr>
                           <tr  >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Vendors </td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Traditional, larger, technology leaders, enterprise suppliers</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Smaller, niche providers, micro-vendors, "new guard," emerging and new vendors</td>
                           </tr>
                           <tr   >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Risk</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Thorough, multipoint vendor risk management; complete due <br>diligence and ongoing risk monitoring; risk mitigation
                                 negotiations may be lengthy
                              </td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Calculated, prioritized and focused
                                 risk management; deal <br> breakers identified early
                              </td>
                           </tr>
                           <tr >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Performance</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Measure contract milestones, SLAs</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Measure innovation, collaboration
                                 within ecosystems
                              </td>
                           </tr>
                           <tr >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Relationships</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Hierarchical, may be cross-functional internally, single point <br> of contact (SPOC) model with vendor</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Collaborative, flexible, multidisciplinary teams internally, working in <br>clusters or vendor ecosystems</td>
                           </tr>
                           <tr>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Talent </td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Skills and aptitude for conventional processes and projects</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Skills and aptitude for new and
                                 uncertain processes
                              </td>
                           </tr>
                           <tr >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Culture </td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">IT-centric, removed from customer</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Business-centric, close to customer</td>
                           </tr>
                           <tr  >
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family"> Data
                                 Analytics
                              </td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Historical views, reporting</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family">Predictive, proactive, leverage trends</td>
                           </tr>
                           <tr  class="last-tr">
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family last-td"> Cycle Times </td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family last-td">Long (months)</td>
                              <td class="gotham-rounded-bok  hw-contact-no collaborative-font-family last-td">Short (days or weeks)</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
              <div class="hw-started1 log-clr-backgrnd container-fluid ">
               <div class="row p-flex collobo-footer-division devops-height">
                  <span class="c-flex gotham-rounded-light hw-main-heading clr-white h-approch collobo-hw-main-heading">WE ADVOCATE ELASTIC WORKFORCE</span>
                  <div class="upskill-filter all c-flex clearfix">
                     <span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us collobo-talk-to-us">TALK TO US</button></span>
                     <span><a href="/job_board"><button class=" job-board-btn gotham-rounded-bold custom-btn heading-custom-btn collobo-talk-to-us">JOB BOARD</button></a></span>
                  </div>
               </div>
            </div>
               <!-- End of hw-started -->
            </div>
            <!-- end of tab1-->
            <!-- for the bottom up button-->   	
           
            <!-- tab2-->
            <div id="tabContent-2" class="tab-pane fade in">
               <div class="container ot-tab-container">
                  <div class="hw-engage-cont">
                     <h2 class="hw-heading gotham-rounded-bok h2-color paterner-heading">Partner</h2>
                     <!-- <p class="hw-copyright gotham-rounded-light">This course introduces attendees to the goals, objectives, benefits, practices of a DevOps environment with hands on working sessions. The course also addresses why DevOps is a mix of cultural, process  tools movement. This sessions talks about principles and mind-sets with practical hands-on use-cases that is pivoting the software delivery landscape.</p> -->
                     <ul class="job-board-ul">
                        {% for para in site.data.Talent_Acquisition.talent.Partner %}
                        <li>
                           <p class="hw-copyright gotham-rounded-light li-class collaborative-employee-para">{{para.partner}}</p>
                           <br/>
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>
               <div class="hw-started1 log-clr-backgrnd container-fluid ">
               <div class="row p-flex collobo-footer-division devops-height">
                  <span class="c-flex gotham-rounded-light hw-main-heading clr-white h-approch collobo-hw-main-heading">BE OUR CHANNEL PARTNER</span>
                  <div class="upskill-filter all c-flex clearfix">
                     <span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us collobo-talk-to-us">TALK TO US</button></span>
                     <span><a href="/job_board"><button class=" job-board-btn gotham-rounded-bold custom-btn heading-custom-btn collobo-talk-to-us">JOB BOARD</button></a></span>
                  </div>
               </div>
            </div>
               <!-- End of hw-started -->	
            </div>
            <!-- end of tab2-->
            <!-- tab3-->
            <div id="tabContent-3" class="tab-pane fade in">
               <div class="container ot-tab-container">
                  <div class="hw-engage-cont">
                     <h2 class="hw-heading gotham-rounded-bok h2-color paterner-heading">Job Seeker</h2>
                     <ul class="job-board-ul">
                        {% for para in site.data.Talent_Acquisition.talent.Job %}
                        <li>
                           <p class="hw-copyright gotham-rounded-light li-class collaborative-employee-para">{{ para.job }}</p>
                           <br/>
                        </li>
                        {% endfor %}
                     </ul>
                  </div>
               </div>

               <!-- hw-started -->
               <div class="hw-started1 log-clr-backgrnd container-fluid ">
               <div class="row p-flex collobo-footer-division devops-height">
                  <span class="c-flex gotham-rounded-light hw-main-heading clr-white h-approch collobo-hw-main-heading">EXPLORE JOB OPPORTUNITIES</span>
                  <div class="upskill-filter all c-flex clearfix">
                     <span><button class=" job-board-btn job-btn custom-btn heading-custom-btn talk-to-us collobo-talk-to-us">POST RESUME</button></span>
                     <span><a href="/job_board"><button class=" job-board-btn gotham-rounded-bold custom-btn heading-custom-btn collobo-talk-to-us">JOB BOARD</button></a></span>
                  </div>
               </div>
            </div>
             
               <!-- End of hw-started -->
            </div>
            <!-- end of tab3-->
            <!-- layout for map and form-->
            <div class="container ms-form-mar" id="form-map-div">
               <!-- <i class="fa fa-times job-close job-close-1"></i> -->
               <h1 class="lets-work-heading">Lets Work Together<i class="fa fa-times job-close lets-job-close"></i></h1>
               <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                     <!-- google map -->
                     <div id="map"></div>
                     <!-- End of google map -->
                     <div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                     <div class="post-resume">
                        <form class="form-signin" onSubmit="submitForm(event)" >
                           <!-- start of form -->
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-col">
                                 <div class="text-border">
                                    <div class="input-group">
                                       <div class="input-group-addon collaborative-input-group"><img src="/assets/img/talent_acquisition/name-img.png"></div>
                                       <input type="text" class="form-control collaborative-form-control placeholder-pro mainLoginInput input_name" id="name1" placeholder="NAME" >
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="text-border">
                                    <div class="input-group">
                                       <div class="input-group-addon collaborative-input-group"><img src="/assets/img/talent_acquisition/email-img.png"></div>
                                       <input type="text" class="form-control collaborative-form-control placeholder-pro mainLoginInput input_email" id="email1" placeholder="EMAIL">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row ms-row-mar ms-row-mar-1">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-col">
                                 <div class="text-border">
                                    <div class="input-group">
                                    <div class="input-group-addon"><img src="/assets/img/talent_acquisition/sub-img.png"></div>
                                    <select class="form-control mainLoginInput gotham-rounded-light input_subject sub-width" id="subject">
                                    <option value="Subject">Subject</option>
                                    <option value="Marketing" class="level-0">Marketing</option>
                                    <option value="Design" class="level-0">Design</option>
                                    <option value="UX" class="level-0">UX</option>
                                    <option value="WordPress" class="level-0">WordPress</option>
                                    <option value="Strategy" class="level-0">Strategy</option>
                                    <option value="Automations" class="level-0">Automations</option>
                                    <option value="News" class="level-0">News</option>
                                    <option value="Content" class="level-0">Content</option>
                                    <option value="Social" class="level-0">Social Media</option>
                                    </select>
                                    </div> 
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="text-border">
                                    <div class="input-group">
                                       <div class="input-group-addon collaborative-input-group"><img src="/assets/img/talent_acquisition/phone-img.png"></div>
                                       <input type="text" class="form-control collaborative-form-control placeholder-pro mainLoginInput input_phone" id="phone" placeholder="PHONE">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row ms-row-mar form-col-sec">
                              <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
                                 <div class="text-border">
                                    <div class="input-group">
                                       <div class="input-group-addon"><img src="/assets/img/talent_acquisition/sub-img.png"></div>
                                       <textarea placeholder= "MESSAGE/FEEDBACK/REQUEST" class="form-control textarea-form-control placeholder-pro mainLoginInput input_message"  id="message" rows="3"></textarea>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- end of text-area row-->
                           <div class="attach-file collaborative-attach-file">
                              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 div-attach-file">
                                 <input type="file" class="gotham-book input_file-upload collaborative-input_file-upload" id="file-upload">
                                 <br/><br/>
                                 <span class="attach-text collaborative-attach-text"><span><img src="/assets/img/talent_acquisition/attach.png"></span><span class="gotham-rounded-bok attach-span clr-white">Attach File</span></span>
                                 <input type="text"  class="input_file-detail form-control placeholder-pro mainLoginInput"  id="file-detail" readonly="readonly"/>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5 submit-background collaborative-submit-background">
                                 <button id="submit-btn" type="submit" class="btn">
                                    <br>
                                    <div class="submit-resume hr-display" style="margin: 0px auto;">
                                       <img src="/assets/img/talent_acquisition/submit.png" class="img-submit collaborative-img-submit" >
                                       <p class="gotham-rounded-bok submit-text placeholder-pro img-para collaborative-submit">SUBMIT</p>
                                    </div>
                                 </button>
                              </div>
                           </div>
                           <!-- end of attach-file-->
                        </form>
                        <!-- end of form -->
                     </div>
                     <!-- end of postresume -->
                  </div>
                  <!--end of col-lg-8-->
               </div>
            </div>
            <!-- end of layout for map and form-->
         </div>
         <!-- end of tab content-->
      </div>
      <!-- end of the bs-example tab-->
      <div style="position: relative">
               <div class="collaborative-apst-wrapper nav-scroll-up">
                  <div class="apst-button collo-apst-button"></div>
               </div>
            </div>
   </main>
</div>
{% include footer.html %}
{% include html-footer.html %}

